html, body { height: 100%;
overflow: hidden;}
.nextbutton{
	
	position: absolute;
	width: auto;
	z-index: 2;
	top: 50%;
	left: 86%;

	
}
.prevbutton{
	
	position: absolute;
	width: auto;
	z-index: 2;
	top: 50%;
	left: 1%;
	
}
button{
	border: none;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	cursor: pointer;
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	background: #fff;
	color: #aaa;

}
#p0{
	background: #0ac2d2;
	
}
#p1{
	background: #7bb7fa;
}
#p2{
	background: green;
}
#p3{
	background: violet;
}
.slide{
	font-family: Georgia,serif;
	font-size: 15em;
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	z-index: 1;
}
main{
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;

}
.current{
	visibility: visible;
	
}
.SlideOut{
	-webkit-animation: -webkit-SlideOut 1s both ease;
	animation: SlideOut 1s both ease;
}
.SlideIn{
	-webkit-animation: -webkit-SlideIn 1s both ease;
	animation: SlideIn 1s both ease;
}
@keyframes SlideOut {
	from { }
	to {  -webkit-transform:  translateX(-100%); transform:  translateX(-100%); }
}

@-webkit-keyframes SlideOut {
  	from{}
	to{  -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes SlideIn {
	from { opacity: :0; -webkit-transform:  translateX(100%); }
	
}
@keyframes SlideIn {
	from { opacity: :0;-webkit-transform: translateX(100%); transform: translateX(100%); }
	
}