html, body { height: 100%;
overflow: hidden;
background-color: #333}
.test{
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.nextbutton{
	
	position: absolute;
	width: auto;
	z-index: 2;
	top: 50%;
	left: 86%;

	
}
.prevbutton{
	
	position: absolute;
	width: auto;
	z-index: 2;
	top: 50%;
	left: 1%;
	
}
.icons{
	position:absolute;
	top:80%;
	width: 100%;
	z-index: 9999;
	float: left;

}

ul{
    width: 100%;
    left:50%;
    text-align: center;
}
li{
	display: inline-block;
    margin: 0 auto;
}
.icon{

	background-image: url('icons.png');
	width:16px;
	height:16px;
	overflow: hidden;
	background-position: -7px -7px;
	cursor: pointer;


}
.icon:hover{
	background-position: -37px -7px !important;;
}
button{
	border: none;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	cursor: pointer;
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	background: #fff;
	color: #aaa;


}
#p0{
	background: #3853FF;
	
}
#p1{
	background: #337CE8;
}
#p2{
	background: #45C1FF;
}
#p3{
	background: #33DCE8;
}

.slide{
	font-family: Georgia,serif;
	font-size: 15em;
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	z-index: 1;
}
.main{
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	overflow: hidden;
	transform-style: preserve-3d;
	border-radius: 3%

}
.main2{
	position: absolute;
	top: 0;
	width: 75%;
	height: 30%;
	perspective: 1200px;
	overflow: hidden;
	transform-style: preserve-3d;
	border-radius: 3%;
}
.current{
	visibility: visible;
	
}
.Next_SlideOut{
	-webkit-animation: -webkit-Next_SlideOut 1s both ease;
	animation: Next_SlideOut 1s both ease;
}
.Next_SlideIn{
	-webkit-animation: -webkit-Next_SlideIn 1s both ease;
	animation: Next_SlideIn 1s both ease;
}
.Prev_SlideOut{
	-webkit-animation: -webkit-Prev_SlideOut 1s both ease;
	animation: Prev_SlideOut 1s both ease;
}
.Prev_SlideIn{
	-webkit-animation: -webkit-Prev_SlideIn 1s both ease;
	animation: Prev_SlideIn 1s both ease;
}
@keyframes Next_SlideOut {
	from { }
	to {  }
}

@-webkit-keyframes Next_SlideOut {
  	from{}
	to{   }
}
@-webkit-keyframes Next_SlideIn {
	from { opacity: :0; -webkit-transform:  translateX(100%); }
	
}
@keyframes Next_SlideIn {
	from { opacity: :0;-webkit-transform: translateX(100%); transform: translateX(100%); }
}
@keyframes Prev_SlideOut {
	from { }
	to { opacity: :0;-webkit-transform: translateX(100%); transform: translateX(100%);  }
}

@-webkit-keyframes Prev_SlideOut {
  	from{}
	to{  opacity: :0;-webkit-transform: translateX(100%); transform: translateX(100%);  }
}
@-webkit-keyframes Prev_SlideIn {
	from { }
	
}
@keyframes Prev_SlideIn {
	from {  }
}